@charset "UTF-8";

.ProximaNovaA-Bold { 
	font-family: ProximaNovaA-Bold;
	font-weight: normal;
	font-style: normal;
}
.ProximaNovaA-Light { 
	font-family: ProximaNovaA-Light;
	font-weight: normal;
	font-style: normal;
}
.ProximaNovaS-Bold { 
	font-family: ProximaNovaS-Bold;
	font-weight: normal;
	font-style: normal;
}
.ProximaNovaS-Light { 
	font-family: ProximaNovaS-Light;
	font-weight: normal;
	font-style: normal;
}
.ProximaNova-Bold {
	font-family: ProximaNova-Bold;
	font-weight: normal;
	font-style: normal;
}
.ProximaNova-Light { 
	font-family: ProximaNova-Light;
	font-weight: normal;
	font-style: normal;
}

*, :before, :after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    line-height: 120%;
}

body{
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    font-family: ProximaNova-Light, Arial, Helvetica, sans-serif;
}

div, .relative, item{
    display: block;
    position: relative;
}

img{
    border: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
}

a img{
    border: none;
    border: 0;
}

div.fRow{
    margin-bottom: 0.8rem;
}

div.fRow label.relative{
    padding-bottom: 4px;
}

div.fRow button.btn > .loader, div.ajaxLoader > .fineloader {
  display: none;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  border-top: 3px solid #58be3d;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 5px;
  left: 100%;
  margin-left: 10px;
}

div.ajaxLoader > .fineloader{
    display: block;
    border: 3px solid #fff;
    border-top: 3px solid #74C4E4;
    position: relative;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    margin: 0;
    box-shadow: inset 0 0 5px rgba(0,0,0, 0.3), 0 0 5px rgba(0,0,0, 0.3);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0, 0.3), 0 0 5px rgba(0,0,0, 0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0, 0.3), 0 0 5px rgba(0,0,0, 0.3);
    z-index: 20020;
}

.hidden, .wrapHideIf0{
    display: none;
}

.noFloat{
    clear: both;
}

.abs{
    position: absolute;
}

.right0{
    right: 0;
}

.top0{
    top: 0;
}

.right10{
    right: 10px;
}

.abs.controls{
    right: 0;
    z-index: 50;
    margin: 5px 0;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-italic{
    font-style: italic;
}

.bottom0{
    top: auto;
    bottom: 0;
}

.top50{
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.left50{
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.top50.left50{
   top: 50%; 
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
   -moz-transform: translateY(-50%) translateX(-50%);
   -webkit-transform: translateY(-50%) translateX(-50%);
}

.pages{
    background: #fff;
    padding-bottom: 0;
}

.toolbar-through .page-content{
    padding-bottom: 0;
}

.fullwidth{
    left: 0;
    width: 100%;
}

.fullheight{
    top: 0;
    height: 100%;
}

.small{
    font-size: 80%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.inline-block{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.inline-block i.fa{
    vertical-align: middle;
}

.button-round{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.overlayBlue{
    height: 100%;
    background: #fff;
    z-index: 1;
}

div.overlayWhite{
    background-color: rgba(255,255,255, 0.3);
    display: block;
    left: 0;
    top: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20001;
}

div.overlayWhite.passive{
    opacity: 0;
     transition: opacity 0.7s ease-out 0.2s;
    -moz-transition: opacity 0.7s ease-out 0.2s;
    -webkit-transition: opacity 0.7s ease-out 0.2s;
}

div.ajaxLoader{
    z-index: 20010
}

div.errMessage1{
    position: absolute;
    z-index: 14100;
    left: 0;
    top: 0;
    width: 100%;
}

.list-block {
    margin: 0;
    font-size: inherit;
}

.list-block ul:before, .list-block ul:after{
    display: none;
}

body > div.errMessage1{
    position: fixed;
    left: 0;
    right: 0;
    top: -1000px;
    opacity: 0;
    z-index: 14100;
    width: 100%;
    text-align: center;
}

body > div.errMessage1.activated, body > div.successMessage1.activated{
    transition: top 0.3s ease-out 0s;
    -moz-transition: top 0.3s ease-out 0s;
    -webkit-transition: top 0.3s ease-out 0s;
}

body > div.successMessage1{
    position: fixed;
    left: 0;
    right: 0;
    top: -1000px;
    width: 100%;
    z-index: 14100;
    text-align: center;
}

div.errMessage1 h3, div.errMessage1 p, div.successMessage1 h3, div.successMessage1 p{
    margin: 0;
    padding: 0;
}

div.errMessage1 .closeOverlay.abs{
    top: 0;
    left: auto;
    right: 5px;
}

div.errMessage1 .closeOverlay.abs a.relative{
    color: #fff;
    font-size: 18px;
}

.errContent, div.errMessage1 .infoContent{
    display: block;
    position: relative;
    background-color: #e94937;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.successContent{
    display: block;
    position: relative;
    background-color: #9aca41;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.topHeader {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 40;
    border-bottom: solid 1px #9da3a6;
}

.heightExactly40{
    height: 40px;
}

.heightExactly44{
    height: 44px;
}

.wrapSearchIndicator{
    right: 10px;
    top: 10px;
}

.wrapMenuIndicator, .wrapMenuIndicator1{
    width: 30px;
    left: 10px;
    top: 6px;
}

.wrapMenuIndicator1{
    top: 3px;
    left: 15px;
    text-align: left;
}

.wrapMenuIndicator > a{
    padding: 2px;
}

.wrapMenuIndicator > a > span.relative{
    height: 1px;
    background-color: #b3c8cc;
    margin: 6px 0;
}

.wrapMenuIndicator1 > a > i.fa{
    color: #b3c8cc;
}

h1, .h1{
    font-size: 1.3rem;
    font-family: ProximaNova-Bold;
    font-weight: 400;
}

h5, .h5{
    font-size: 0.9rem;
    font-family: ProximaNova-Bold;
}

.strong{
    font-family: ProximaNova-Bold;
}

.padd20{
    padding: 20px;
}

.padd15{
    padding: 15px;
}

.padd10{
    padding: 10px;
}

.padd5{
    padding: 5px;
}

.paddTopBottom2{
    padding-top: 2px;
    padding-bottom: 2px;
}

.paddTopBottom5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.paddTopBottom10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.paddTopBottom20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.paddTopBottom30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.paddLeftRight20{
    padding-left: 20px;
    padding-right: 20px;
}

.paddLeftRight10{
    padding-left: 10px;
    padding-right: 10px;
}

.paddRight10{
    padding-right: 10px;
}

.popup-overlay{
    top: 44px;
}

.popup3.bg-darkblue{
    background: rgba(39,68,108,1);
background: -moz-linear-gradient(45deg, rgba(39,68,108,1) 0%, rgba(11,30,58,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(39,68,108,1)), color-stop(100%, rgba(11,30,58,1)));
background: -webkit-linear-gradient(45deg, rgba(39,68,108,1) 0%, rgba(11,30,58,1) 100%);
background: -o-linear-gradient(45deg, rgba(39,68,108,1) 0%, rgba(11,30,58,1) 100%);
background: -ms-linear-gradient(45deg, rgba(39,68,108,1) 0%, rgba(11,30,58,1) 100%);
background: linear-gradient(45deg, rgba(39,68,108,1) 0%, rgba(11,30,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27446c', endColorstr='#0b1e3a', GradientType=1 );
}

.popup.popup3.modal-in{
    transform: translate3d(0,44px,0);
    -moz-transform: translate3d(0,44px,0);
    -webkit-transform: translate3d(0,44px,0);
}

.popup .closeOverlay{
    top: 0;
    right: 5px;
    z-index: 100;
}

.popup .closeOverlay > a{
    width: 20px;
    height: 20px;
    font-size: 1.7rem;
    font-weight: 100;
    color: rgba(255,255,255, 0.5);
}

div.popup3 div.borderedSpacer {
    font-size: 16px;
}

div.popup3 div.borderedSpacer > div{
    width: calc(50% - 24px);
    height: 1px;
    background-color: #fff;
    left: 0;
}

div.popup3 div.borderedSpacer > div:first-child{
    left: auto;
    right: 0;
}

.paddRight20{
    padding-right: 20px;
}

.radius-5{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.radius-10{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.radius-15{
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.radius-20{
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.bg-white{
    background-color: #fff;
}

.bg-danger, a.bg-danger, .wrapAllProducts.list-block .swipeout-actions-right a.bg-danger{
    background-color: #e94937;
}

.bg-green, a.bg-green, .wrapAllProducts.list-block .swipeout-actions-right a.bg-green{
    background-color: #9aca41;
}

input.mf-input, select.mf-select, textarea.mf-textarea{
    padding: 7px 7px;
    width: 100%;
    font-family: ProximaNova-Light;
    background-color: #fff;
    color: #333;
    border: solid 1px #fff;
    font-size: 1rem;
}

.wrapSearch input.mf-input{
    font-size: 0.85rem;
}

.wrapSearch .flex1{
    padding: 0;
}

.wrapSearch .btn{
    padding-right: 3px;
    padding-left: 3px;
}

textarea.mf-textarea{
    height: 80px;
}

.wrapForm{
    max-width: 320px;
    margin: 0 auto;
}

.wrapForm input.mf-input, .wrapForm select.mf-select, .wrapForm textarea.mf-textarea{
    background-color: #e1e8ea;
}

.wrapForm input.mf-input.missingField, .wrapForm select.mf-select.missingField, .wrapForm textarea.mf-textarea.missingField{
    background-color: #ffc;
    box-shadow: inset 0 0 0 1px #c00;
    -moz-box-shadow: inset 0 0 0 1px #c00;
    -webkit-box-shadow: inset 0 0 0 1px #c00;
}

.topHeader nav#menu{
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 40;
    height: auto;
    transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    top: -55px;
}

.topHeader nav#menu.activated{
    top: 0;
}

.badge{
    width: 20px;
    height: 20px;
    padding: 0;
    padding-top: 1px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: inherit;
    font-size: 0.8rem;
}

.btn{
    padding: 7px 15px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.btn-md{
    font-size: 1rem;
}

.btn-sm{
    font-size: 0.85rem;
}

.btn-xs{
   padding: 1px 5px;
}

.btn .fa{
    vertical-align: middle;
}

.btn-transparent{
    background-color: transparent;
    border-color: transparent;
}

.btn-green{
    background-color: #9aca41;
    border-color: #9aca41;
}

.btn-green:hover{
    background-color: #7dad4e;
    border-color: #7dad4e;
}

.btn-facebook{
    border-color: #496499;
}

.bg-orange, a.bg-orange{
    background-color: #eb482f;
}

.bg-blue, a.bg-blue{
    background-color: #4b7297;
}

.bg-bluegray{
    background-color: #ccdde0;
}

.bg-bluegray-middle{
    background-color: #b2c8cc;
}

.bg-darkblue, .list-block .swipeout-actions-right a.bg-darkblue{
    background-color: #27446c;
}

hr{
    border-bottom: 0;
    border-top: solid 1px #eee;
}

.facebookIcon{
    background-color: #496499;
}

.twitterIcon{
    background-color: #6fccec;
}

.pinterestIcon{
    background-color: #ca242d;
}

.wrapAllProducts.list-block .first-swipeout{
    padding: 0 25px;
}

.forcedZIndexMinus{
    z-index: -1;
}

.forcedZIndex20{
    z-index: 20;
}

.list-block .item-content{
    padding: 0;
}

.text-center{
    text-align: center;
}

.text-white{
    color: #fff;
}

.text-danger{
    color: #e94937;
}

.text-green{
    color: #83ae32;
}

.text-white-transparent{
    color: rgba(255,255,255, 0.5);
}

.text-gray{
    color: #b3c8cc;
}

.text-bluegray-dark{
    color: #658287;
}

.text-muted{
    color: #999;
}

.lineheight100{
    line-height: 100%;
}

.lineheight120{
    line-height: 120%;
}

.text-middle{
    font-size: 90%;
}

.fa-1-5x{
    font-size: 1.5rem;
}

.fa-1-2x{
    font-size: 1.2rem;
}

.grid1 .row .col-33{
    width: 33.3333%;
}

.grid1 .row item{
    height: 0;
    padding-bottom: 100%;
    border: solid 1px #e6e6e6;
}

.grid1 .row item > a{
    color: #bec9c9;
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: 40% auto;
}

.grid1 .row item > a:hover{
    background-color: #f2f2f2;
}

.wrapBgWithLogo{
    height: 225px;
    background-image: url("../images/CRHomeTopBg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 }
 
.flex1{
    position: relative;
    text-align: left;
    padding: 0 0 0 1em;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    align-self: center;
    -webkit-align-self: center;
}

.wrapBottomMap{
    min-height: 150px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.wrapStoreLinks .inline-block{
    margin: 0 10px 0 0;
}

.page{
     -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

.page.catmenuactivated{
    -webkit-transform: translate3d(260px,0,0);
    transform: translate3d(260px,0,0);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

.wrapCatMenuAll{
    font-size: 100%;
    background-color: #356584;
    width: 260px;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

.wrapCatMenuAll ul.relative > li.relative{
    color: #fff;
}

.wrapCatMenuAll ul.relative > li.relative > a.relative, .wrapCatMenuAll ul.relative > li.relative > span.relative.akalink{
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
}

.wrapCatMenuAll ul.relative > li.relative > a.relative{
    font-family: ProximaNova-Bold;
}

.wrapCatMenuAll ul.relative > li.relative > ul.relative{
    display: none;
}

.wrapCatMenuAll ul.relative > li.relative.activated{
    background-color: #294e66;
    margin-top: -1px;
}

.wrapCatMenuAll ul.relative > li.relative.activated div.right0 .fa{
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.wrapCatMenuAll ul.relative > li.relative.activated > ul.relative{
    display: block;
}

.wrapCatMenuAll ul.relative > li.relative > ul.relative > li.relative > a.relative{
    padding: 7px 20px 7px 40px;
    color: rgba(255,255,255, 0.8);
    font-family: ProximaNova-Light;
}

.wrapCatMenuAll ul.relative > li.relative > ul.relative > li.relative > a.relative:before{
    content: "";
    display: inline-block;
    position: relative;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.wrapCatMenuAll ul.relative > li.relative > ul.relative > li.relative:last-child > a.relative:after{
    display: none;
}

.wrapCatMenuAll ul.relative > li.relative > a.relative:after, .wrapCatMenuAll ul.relative > li.relative > span.relative.akalink:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    background-color: rgba(255,255,255, 0.4);
}

div.item{
    padding: 10px;
    border-bottom: solid 1px #eee;
}

div.item h3{
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

div.item div.flexbox div.image-holder{
    width: 64px;
    height: 64px;
    background-color: #f2f2f2;
}

div.image-holder div.bg-image{
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.image-holder > div.bg-image-outer{
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.01, 0.01);
    -moz-transform: scale(0.01, 0.01);
    -webkit-transform: scale(0.01, 0.01);
}

div.image-holder.completed > div.bg-image-outer{
    opacity: 1;
    transition: all 0.2s ease 0.1s;
    -moz-transition: all 0.2s ease 0.1s;
    -webkit-transition: all 0.2s ease 0.1s;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

div.wrapProductPhoto{
    height: 225px;
    background-color: #999;
    overflow: hidden;
}

div.wrapProductPhoto .swiper-container{
    height: inherit;
}

div.wrapProductPhoto div.bg-image{
    opacity: 0;
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.6s ease 0.1s;
    -moz-transition: all 0.6s ease 0.1s;
    -webkit-transition: all 0.6s ease 0.1s;
}

div.wrapProductPhoto div.bg-image.completed{
    opacity: 1;
}

div.wrapProductDetails{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
    z-index: 20;
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.wrapPhotoMenu a, div.wrapPhotoMenu .swiper-pagination-bullet{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: solid 1px #b3c8cc;
    background-color: transparent;
    margin-left: 2px;
    margin-right: 2px;
    opacity: 1;
}

div.wrapPhotoMenu a.current, div.wrapPhotoMenu .swiper-pagination-bullet-active{
    background-color: #b3c8cc;
}

div.wrapSocialLinks i.fa{
    line-height: 140%;
}

div.loginBlock{
    width: 200px;
    margin: 0 auto;
}

div.loginBlock div.fRow input.mf-input{
    background-color: #a2abb8;
    border: none;
    border: 0;
}

body .logged-out-hidden{
    display: none;
}

body.logged-in .logged-out-hidden{
    display: block;
}

body.logged-in .logged-in-hidden{
    display: none;
}

.wrapAddToFav{
    color: #b3c8cc;
}

.wrapAddToFav.activated{
    color: #e94937;
}

body.logged-in .wrapAddToFav{
    color: #e94937;
}

body.logged-in div.page[data-page="singleproduct"] .wrapAddToFav{
    color: #b3c8cc;
}

body.logged-in div.page[data-page="singleproduct"] .wrapAddToFav.text-danger{
    color: #e94937;
}

div.page[data-page="products"] div.wrapShortQuote{
    left: 40px;
}

#wrapAllProducts div.item div.wrapTitle{
    padding-right: 10px;
}

#wrapAllQuotes{
    border-top: solid 1px #eee;
}

#wrapAllQuotes div.item div.wrapTitle{
    padding-right: 60px;
}

#wrapAllQuotes div.wrapQty{
    width: 70px;
    z-index: 40;
}

#wrapAllQuotes div.wrapQty input.mf-input{
    padding: 4px;
    height: auto;
}

div.checkbox label{
    padding: 7px 5px;
    font-size: 0.8rem;
}

div.checkbox.btn-sm label{
    padding: 5px 5px;
}

div.checkbox > input[type=checkbox], div.checkbox > input[type=radio]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
}

div.checkbox > input[type=checkbox] + label,
 div.checkbox > input[type=radio] + label{
    display: block;
    position: relative;
    height: 100%;
    text-align: center;
}

.checkbox-primary > input[type=checkbox] + label,
 .checkbox-primary > input[type=radio] + label{
     background-color: #ccdde0;
     color: #79979c;
     font-weight: 600;
     z-index: 4;
 }
 
 .checkbox-primary > input[type=checkbox].missingField + label,
 .checkbox-primary > input[type=radio].missingField + label{
     background-color: #ffc;
     color: #c00;
     box-shadow: inset 0 0 0 1px #c00;
    -moz-box-shadow: inset 0 0 0 1px #c00;
    -webkit-box-shadow: inset 0 0 0 1px #c00;
 }
 
 .checkbox-primary > input[type=checkbox]:checked + label,
 .checkbox-primary > input[type=radio]:checked + label{
     background-color: #9aca41;
     color: #fff;
 }

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}